/* CSS 样式 */
body {
	font-family: Arial, sans-serif;
	text-align: center;
	background-color: #FFE4E1;
	margin: 0;
	padding: 0;
}

#container {
	max-width: auto;
	margin: 0 auto;
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
	max-width: 100%;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
	color: #9db4ff;
}

/* 暗黑模式 */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #333;
	}

	#container {
		background-color: #CDC1C5;
	}
}

/* 去掉链接下划线的样式 */
.no-underline {
	text-decoration: none;
}

/* 当屏幕宽度大于 700px 时应用以下样式 */
@media (min-width: 768px) {

	/* 在这里添加你想要应用的样式 */
	/* 例如：修改 body 的背景颜色 */
	img {
		max-width: 50%;
	}

	body {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		/* 让内容在垂直方向上居中 */
		margin: 0;
		/* 清除默认的 body 外边距 */
	}

}
